In [4]:
import pandas as pd
import numpy as np

In [16]:
adress_train = "../prueba-dci/filter_dc3/datosEntrenamiento.csv"
adress_prueba = "../prueba-dci/filter_dc3/datosPrueba.csv"
adress_validacion = "../prueba-dci/filter_dc3/datosValidacion.csv"

data_train = pd.read_csv(adress_train)
data_test = pd.read_csv(adress_prueba)

In [52]:
data_train.tail()

,92,115,120,94,84,102,106,79,84.1,102.1,...,104.1,88,121,128,100,84.3,107,113,87,1
4498,80,107,122,96,76,107,118,96,84,116,...,96,74,83,108,89,66,71,100,85,6
4499,84,116,128,103,92,116,133,103,84,112,...,85,74,83,104,92,78,96,112,96,6
4500,60,83,96,85,64,87,100,88,64,83,...,92,66,87,108,89,63,83,104,85,6
4501,56,68,87,74,60,71,91,81,60,64,...,74,59,83,92,74,59,83,92,70,3
4502,60,71,91,81,60,64,104,99,56,64,...,74,59,83,92,70,63,79,108,92,3

In [17]:
data_test.head()

,76,94,98,76.1,72,85,90,72.1,68,85.1,...,62,71.2,79.1,85.2,62.1,67.3,75,85.3,62.2,2
0,68,89,86,72,68,85,90,76,68,94,...,67,71,75,81,62,67,75,85,71,2
1,92,115,115,94,92,111,120,91,84,106,...,92,93,107,109,92,93,111,113,92,1
2,84,106,111,87,84,98,111,87,84,98,...,92,93,107,113,87,93,107,113,87,1
3,88,111,115,91,88,111,120,87,88,111,...,87,88,107,109,87,88,107,109,87,1
4,84,102,106,83,88,111,111,87,88,111,...,79,88,95,100,79,88,95,100,83,1

In [71]:
data_test.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'